
body{
background-color: #3B3F45;
}

*{
    margin: 0;
    padding: 0;
}

.header1 {
    background-color: #4A4F56;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 12px;

}


.p1 {
    font-style: normal;
    font-weight: bold;
    color: #FF8984;
    font-size: 24px;
    line-height: 28px;
 
}

.p2 {
    color: #FF8984;
    font-size: 16px;
    line-height: 19px;   
    margin-bottom: 12;
}

.button {
    text-align: center;
    border: none;
    padding-top: 60px;
}

.inputbutton {
    color: #FF8984;
    background-color: #4A4F56;
    padding: 12px 230px;
}

.ingredients {
    margin-top: 20px;
    color: white;
    background-color: #88839E;
    max-width: 534px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.list {
    padding: 12px 12px 14px;
}

